<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css'
    integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=='
    crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js
    "></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="app-background">
            <div class="top-container">
                <!-- EMPTY -->
            </div>
            <div class="bottom-container">
                <!-- EMPTY -->
            </div>
        </div>

<!-- NON UTILIZZO DELLE ANCORE SOLO PERCHE' E' UNA WEB APP SINGOLA PAGINA E LA CONSEGNA DELL' ESERCIZIO ERA VAGA SU QUESTO INOLTRE NON DEVE RENDERIZZARE ALTROVE ALTRIMENTI AVREI MESSO IMG NOMI ETC IN DELLE ANCORE, PER QUESTO UTILIZZO CREDO SIA SUFFICIENTE VUE-JS CON LE SUE FUNZIONIALITA' ON CLICK, DOPO AVER CHIESTO DEI CHIARIMENTI POTREI INSERIRLE QUANDO IL DOM DIVENTERA' DINAMICO -->

<!-- USERS-LIST // PART OF THE APP -->
        <div class="boolzapp">
            <div class="users">
                <div class="my-profile-user d-flex">
                    <div class="col-10 d-flex align-items-center padding-left">
                        <img class="menu" src="./img/avatar_1.jpg" alt="">
                        <h4 class="padding-left my-username">Gianluca</h4>
                    </div>
                    <div class="col-2 d-flex align-items-center justify-center menu">
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
                <div class="advice-for-users d- d-flex padding-left align-items-center">
                    <span class="bell-alert"><i class="fa-solid fa-bell-slash"></i></span>
                    <div class="alert-wrapper d-flex direction-column ">
                        <p class="padding-left"><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                        <p class="padding-left">Ricordati di tenere almeno la vibrazione attivata</p>
                    </div>
                </div>
                <div class="user-search-bar d-flex justify-center align-items-center padding-20">
                    <button class="search-btn menu"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input class="search-user-input" type="text" placeholder="Cerca un Contatto o Nuova Chat"
                    v-model="searchBarValue"
                    @keyup="searchUser()">                       
                </div>
                <div class="users-list">
                    <ul class="d-flex direction-column ">
                        <li v-for="(contact,i) in searchContacts" :key="i" class="padding-10 d-flex gap-20 single-user-chat" :class="{
                            'active': i === currentIndex
                        }"
                        @click="currentIndex = i">
                            <img :src="contact.avatar" alt="">
                            <div class="user-chat-wrapper d-flex direction-column justify-center gap-20 col-8">
                                <h4>{{contact.name}}</h4>
                            <span class="last-msg">{{getLastMessage(contact,36)}}</span>
                            </div>
                            <div class="chat-time col-2">
                                <span class="last-msg-time">12:00</span>
                            </div>
                        </li>
                        <!-- <li class="padding-10 d-flex gap-20 single-user-chat">
                            <img src="./img/avatar_2.jpg" alt="">
                            <div class="user-chat-wrapper d-flex direction-column justify-center gap-20 col-8">
                                <h4>Fabio</h4>
                                <span class="last-msg">Your last message with this user</span>
                            </div>
                            <div class="chat-time col-2">
                                <span class="last-msg-time">12:00</span>
                            </div>
                        </li>
                        <li class="padding-10 d-flex gap-20 single-user-chat">
                            <img src="./img/avatar_3.jpg" alt="">
                            <div class="user-chat-wrapper d-flex direction-column justify-center gap-20 col-8">
                                <h4>Samuele</h4>
                                <span class="last-msg">Your last message with this user</span>
                            </div>
                            <div class="chat-time col-2">
                                <span class="last-msg-time">12:00</span>
                            </div>
                        </li>
                        <li class="padding-10 d-flex gap-20 single-user-chat">
                            <img src="./img/avatar_4.jpg" alt="">
                            <div class="user-chat-wrapper d-flex direction-column justify-center gap-20 col-8">
                                <h4>Alessandro B.</h4>
                                <span class="last-msg">Your last message with this user</span>
                            </div>
                            <div class="chat-time col-2">
                                <span class="last-msg-time">12:00</span>
                            </div>
                        </li>
                        <li class="padding-10 d-flex gap-20 single-user-chat">
                            <img src="./img/avatar_5.jpg" alt="">
                            <div class="user-chat-wrapper d-flex direction-column justify-center gap-20 col-8">
                                <h4>Alessandro L.</h4>
                                <span class="last-msg">Your last message with this user</span>
                            </div>
                            <div class="chat-time col-2">
                                <span class="last-msg-time">12:00</span>
                            </div>
                        </li>
                        <li class="padding-10 d-flex gap-20 single-user-chat">
                            <img src="./img/avatar_6.jpg" alt="">
                            <div class="user-chat-wrapper d-flex direction-column justify-center gap-20 col-8">
                                <h4>Claudia</h4>
                                <span class="last-msg">Your last message with this user</span>
                            </div>
                            <div class="chat-time col-2">
                                <span class="last-msg-time">12:00</span>
                            </div>
                        </li>
                        <li class="padding-10 d-flex gap-20 single-user-chat">
                            <img src="./img/avatar_7.jpg" alt="">
                            <div class="user-chat-wrapper d-flex direction-column justify-center gap-20 col-8">
                                <h4>Federico</h4>
                                <span class="last-msg">Your last message with this user</span>
                            </div>
                            <div class="chat-time col-2">
                                <span class="last-msg-time">12:00</span>
                            </div>
                        </li> -->
                    </ul>
                </div>          
            </div>
<!-- SEZIONE MIO UTENTE E MESSAGGI DELLA CHAT          -->
            <div class="chat">
                <div class="top-chat">
                    <div class="col-10 padding-left align-items-center d-flex">
                        <img class="menu" src="./img/avatar_2.jpg" alt="">
                        <div class="current-user-infos">
                            <h4 class="menu">{{currentContact.name}}</h4>
                            <p class="user-description">"Calcolando come si calcola"</p>
                        </div>
                    </div>
                    <div class="col-2 d-flex align-items-center gap-20 menu">
                        <span><i class="fa-solid fa-circle-notch"></i></span> 
                        <span><i class="fa-solid fa-message"></i></span> 
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
<!-- CHAT CON IL SINGOLO UTENTE -->
                <div class="central-chat">
                    <ul class="d-flex direction-column col-12 gap-10 align-items-end">
                        <li :class="messageObj.status" 
                        class="li-my-message d-flex direction-column gap-20" v-for="(messageObj,i) in contacts[currentIndex].messages" :key="i">
                            <p class="message__p">{{messageObj.message}}</p>
                            <span class="sent-time">15:30</span>
                        </li>
                        <!-- <li class="li-my-message d-flex direction-column gap-10">
                            <p class="message__p">Hai flexato ?</p>
                            <span class="sent-time">15:30</span>
                        </li> -->
                        <!-- AUTO MESSAGE: -->
                        <!-- <li class="li-auto-message d-flex direction-column gap-10 align-self-start">
                            <p class="message__p">Tutto bene per fortuna</p>
                            <span class="sent-time">15:30</span>
                        </li> -->
                    </ul>
                </div>
<!-- SEND A MESSAGE BOTTOM CHAT -->
                <div class="bottom-chat">
                    <div class="contaiener-fluid-flexable">
                        <div class="col-2 emojys">
                            <span><i class="fa-regular fa-face-smile"></i></span>
                        </div>
                        <div class="col-8 send-message">
                            <input v-model="newMsg" @keyup.enter="sendMsg()" class="message-bar" type="text" placeholder="Send a Message">
                        </div>
                        <div class="col-2 record-message">
                            <span><i class="fa-solid fa-microphone"></i></span>
                        </div>
                        
                    </div>
                </div>
            </div>     
        </div>
    </div>

    <script src="./js/master.js"></script>
</body>
</html>